body {
  background-color: black;
  color: white;

  #controls {
    position: absolute;
  }

  table {
    margin: 0 auto;

    tr {
      border: 1px solid yellow;
    }

    td {
      border: 1px solid yellow;
      width: 35px;
      height: 32px; 
    }
  }
  .highlight {
    // background-color: green;
    background-image: url('../taxi-front-yellow-icon.png');
    background-repeat: no-repeat;
  }

}