td {
  border: 1px solid black;
  width: 35px;
  height: 35px;
}

tr {
  border: 1px solid black;
}

.highlight {
  // background-color: green;
  background-image: url('../taxi-front-yellow-icon.png');
  background-repeat: no-repeat;
}